<div class="container text-center py-5" style="background-color: aquamarine;">
    <h1 class="mb-5">Bienvenido a la página de inicio</h1>
    
    <div class="row">
        <div class="col">
            <a routerLink="ranking">
                <img (click)="verRanking()" src="../../assets/_8d159a52-45ad-4d2a-b328-0f8ef03d1759.jpg" alt="Ranking" class="img-fluid">
            </a>
            <p>Ranking</p>
        </div>
        
        <div class="col">
            <a routerLink="mis-datos">
                <img (click)="verMisDatos()" src="../../assets/OIG.jpg" alt="Mis datos" class="img-fluid">
            </a>
            <p>Mis datos</p>
        </div>
        
        <div class="col">
            <a routerLink="jugar">
                <img (click)="verJugar()" src="../../assets/OIG (1).jpg" alt="Jugar" class="img-fluid">
            </a>
            <p>Jugar</p>
        </div>
    </div>
</div>

